#container-one .jsac-title-h, #container-two .list h3 {
    background: #314151;
    height: 40px;
    width: 200px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

#container-one ul, #container-two ul {
    list-style: none;
}

